<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date [%thread] %-5level %logger{40} - %msg %n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="net.joedj.test.LogRecorder" />
        </filter>
    </appender>

    <logger name="org.glassfish.jersey.process.internal.RequestScope" level="TRACE" />

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
